body {
  background-image: linear-gradient(to right, #3d6cb9, #00d1ff);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Tajawal', sans-serif;
  text-align: center;
}

.main-header {
  font-weight: 900;
  font-size: 7rem;
}

.header-info {
  font-size: 2rem;
  font-weight: 500;
}

.main-content {
  padding-bottom: 4%;
}

.content {
  padding-top: 8%;
  text-align: center;
}

.khaleejia-logo {
  width: 4rem;
  height: auto;
}

.icon {
  text-decoration: none;
  color: white;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: 1.25rem;
  text-align: center;
}
